<br><center><img src="https://www2.times.uh.edu/wp-content/uploads/2017/02/cropped-NewTIMESLogo.jpg" height="250px"></center>
<br><br>
<div id="page-wrapper">
  <div class="jumbotron">
    <h1>Welcome to TIMES</h1>
  <h2>
    It is the Mission of TIMES to advance scientific discovery through the development and application of measurement, evaluation, and statistical research methods.
  </h2>
</div>
  <div class="col-sm-4">
    <div class="panel panel-red">
      <div class="panel-heading">
        <h3 class="panel-title">Admin Contact Information</h3>
      </div>
      <div class="panel-body">
        Minh Duong<br>832-842-7023<br>minh@times.uh.edu<br><br>Bertha Gil<br>832-842-7018<br>bertha.gil@times.uh.edu
      </div>
    </div>
  </div>
</div>