<p>Welcome <%=  %> - <%= link_to "Sign out", destroy_user_session_path, :method => 'delete' %>

<div class="navbar navbar-inverse navbar-fixed-left">
  <ul class="nav navbar-nav">
    <li role="presentation"><a href="package_requests">Package Request</a></li>
    <li role="presentation"><a href="items">Items</a></li>
    <li role="presentation"><a href="item_statuses">Item Status</a></li>
    <li role="presentation"><a href="item_categories">Item Category</a></li>
    <li role="presentation"><a href="item_locations">Item Location</a></li>
    <li role="presentation"><a href="loan_histories">Loan History</a></li>
    <li role="presentation"><a href="order_requests">Order Request</a></li>
    <li role="presentation"><a href="tag_types">Tag Type</a></li>
    <li role="presentation"><a href="vendors">Vendor</a></li>
    <li role="presentation"><a href="buildings">Building</a></li>
    <li role="presentation"><a href="countries">Country</a></li>
    <li role="presentation"><a href="states">State</a></li>
    <li role="presentation"><a href="cities">City</a></li>
    <li role="presentation"><a href="zips">Zip Code</a></li>
  </ul>
</div>
