<p id="notice"><%= notice %></p>

<p>
  <strong>Tag status:</strong>
  <%= @tag_status.tag_status %>
</p>

<%= link_to 'Edit', edit_tag_status_path(@tag_status) %> |
<%= link_to 'Back', tag_statuses_path %>
