<p id="notice"><%= notice %></p>

<p>
  <strong>Movable:</strong>
  <%= @item_movability.movable %>
</p>

<%= link_to 'Edit', edit_item_movability_path(@item_movability) %> |
<%= link_to 'Back', item_movabilities_path %>
